body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.listFractions{
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  list-style: none;

}
.itemFraction{
  /* border: 1px solid; */
  width: 400px;
  min-height: 100px;
  cursor: pointer;

}
.description{
  text-align: left;
}
.descBox{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sistem{
  font-weight: 700;
  text-align: left;
  font-style:italic;
}
.sistemName{
  color:red;
}